div.Fifth-container {
  background: radial-gradient(circle, var(--my-5th) 0%, rgba(40,44,52,1) 77%);
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}