div.First-container {
  background: radial-gradient(circle, var(--my-1st) 0%, rgba(40,44,52,1) 77%);
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.red-squere {
  height: 100px;
  width: 100px;
  background-color: red;
  border: 2px solid var(--my-5th);
  border-radius: 20px;
  margin-bottom: 20px;
}