div.Fourth-container {
  background: radial-gradient(circle, var(--my-4th) 0%, rgba(40,44,52,1) 77%);
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------- login Panel -------------- */

div.login-panel {
  height: 75px;
  width: 50%;
  align-self: flex-start;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

label input {
  margin: 0 10px;
}